{% extends 'base.html' %}

{% block title %}{{ recipe.name }}{% endblock  %}

{% block content %}
<div class="recipe_table">
    <div class="recipe_details">
        <h3 class="main_title">Recipe name: {{ recipe.name }}</h3>
        <p>Description: {{ recipe.description }}</p>
        <p>Cooking order: {{ recipe.cooking_steps }}</p>
        <p>Cooking time (minutes): {{ recipe.cooking_time }}</p>
        <p>Recipe category: {{ recipe.category.name }}</p>
        <p>Author: {{ recipe.author.user }}</p>
        <p>Added at: {{ recipe.add_time }}</p>
    </div>
    <div>
        <img class="recipe_image" src="{{ recipe.img.url }}" alt="{{ recipe.name }}">
    </div>
</div>
{% endblock %}