{% extends 'base.html' %}

{% block title %}Товары{% endblock %}

{% block content %}
    <h1>Товары</h1>
    {% for product in products %}
    {% if not product.is_deleted %}
        <h2><a href="{% url 'get_product_view' product.id %}">Продукт #{{ product.id }}</a></h2>
            <table border="1">
        <tr>
            <th>Изображение продукта</th>
            {% if product.image %}
                <td><img src="{{ product.image.url }}" alt="{{ product.name }}" width="100"></td>
            {% else %}
                <td>Отсутствует</td>
            {% endif %}
        </tr>
        <tr>
            <th>ID</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Название</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Описание</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>Цена</th>
            <td>{{ product.price }}$</td>
        </tr>
        <tr>
            <th>Остаток</th>
            <td>{{ product.quantity }}</td>
        </tr>
    </table>
    {% endif %}
    {% endfor %}

{% endblock %}