{% extends 'base.html' %}

{% block title %}Информация о продукте{% endblock %}

{% block content %}
    <h1>Информация о продукте</h1>
    {% if product.is_deleted %}
        <h2>Продукт удален!</h2>
    {% endif %}
    <table border="1">
        <tr>
            <th>Изображение продукта</th>
            {% if product.image %}
                <td><img src="{{ product.image.url }}" alt="{{ product.name }}" width="100"></td>
            {% else %}
                <td>Отсутствует</td>
            {% endif %}
        </tr>
        <tr>
            <th>ID</th>
            <td>{{ product.id }}</td>
        </tr>

        <tr>
            <th>Название</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Описание</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>Цена</th>
            <td>{{ product.price }}$</td>
        </tr>
        <tr>
            <th>Остаток</th>
            <td>{{ product.quantity }}</td>
        </tr>
    </table>
    <a href="{% url 'edit_product' product.id %}">Редактировать</a>
{% endblock %}