{% extends 'base.html' %}

{% block title %}Клиенты{% endblock %}

{% block content %}
    <h1>Клиенты</h1>
    {% for client in clients %}
    {% if not client.is_deleted %}
        <h2><a href="{% url 'get_user_view' client.id %}">Клиент #{{ client.id }}</a></h2>
        <table border="1">
            <tr>
                <th>Аватар</th>
            {% if client.avatar %}
                <td><img src="{{ client.avatar.url }}" alt="{{ client.name }}" width="100"></td>
            {% else %}
                <td>Отсутствует</td>
            {% endif %}
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>{{ client.phone }}</td>
            </tr>
            <tr>
                <th>Адрес</th>
                <td>{{ client.address }}</td>
            </tr>
            <tr>
                <th>Дата регистрации</th>
                <td>{{ client.reg_date }}</td>
            </tr>
        </table>
    {% endif %}
    {% endfor %}
{% endblock %}